body{background-color: rgb(255, 234, 234);}
h1{color:rgb(190, 0, 0);text-align: center;}
h3{text-align: center;}

.navbar {
    overflow: hidden;
    background-color: rgb(0, 128, 28);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu {
    float: left;
    overflow: hidden;
  }
  
  .menu .btn {
    font-size: 16px;  
    font-family: 'Times New Roman', Times, serif;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
  }
  
  .navbar a:hover, .menu:hover .btn {
    background-color: rgb(0, 82, 18);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(211, 255, 220);
    min-width: 160px;
    box-shadow: 5px 5px rgb(116, 156, 118);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(134, 204, 134);
  }
  
  .menu:hover .dropdown-content {
    display: block;
  }

  .Ch1{
    margin-left: 37px;
    margin-top: 37px;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 1em;
    background: #cc0000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family:'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
  }

  .cbtf {
    display: inline-block;
    margin-left: 150px;
    border: 2px solid rgb(172, 0, 0);
 }

 .Ch2{
    margin-left: 37px;
    margin-top: 37px;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 1em;
    background: #cc0000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family:'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
 }

 .swc{
     display: inline-block;
     margin-left: 150px;
     border: 2px solid rgb(172, 0, 0)
 }

 .Ch3{
    margin-left: 37px;
    margin-top: 37px;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 1em;
    background: #cc0000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family:'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
 }

 .ttp{
    display: inline-block;
    margin-left: 150px;
    border: 2px solid rgb(172, 0, 0) 
 }

 .Ch4{
    margin-left: 37px;
    margin-top: 37px;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 1em;
    background: #cc0000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family:'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
 }

 .nycc{
    display: inline-block;
    margin-left: 150px;
    border: 2px solid rgb(172, 0, 0) 
 }

 .Ch5{
    margin-left: 37px;
    margin-top: 37px;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 1em;
    background: #cc0000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family:'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
 }

 .ymhp{
    display: inline-block;
    margin-left: 150px;
    border: 2px solid rgb(172, 0, 0)
 }

 .social{
    height: 45px;
    margin-left: 4%;
  }
  
  .socialpic1{
    height: 50px;
    width: 50px;
    margin-left: 550px;
  }

  .socialpic2{
    height: 50px;
    width: 50px;
    margin-left: 60px;
  }

  .spword{
      text-align: center;
      color: rgb(116, 116, 116);
  }